<!-- forgot_password.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="main-container">
        <h1>Injozi Flask App</h1>
        <div class="content">
            <form method="POST" class="mainform">
                <div class="header">Forgot Password?</div>
                <p>
                    <b><label for="content" class="sign-in-heading">User Name</label></b>
                </p>
                {% if message %}
                    <div class="alert-warning" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                <input type="text" name="username" required>
                <button type="submit" id="forgot_user_submit_btn">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>