<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Injozi Flask App</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static' , filename='css/styles.css') }}"> -->
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="main-container">
        <h1>Injozi Flask App</h1>
        <div class="content">
            <form method="POST" class="mainform">
                <div class="header">Sign In</div>
                <p>
                    <b><label for="content" class="sign-in-heading">Todo Content</label></b>
                </p>
                <p>
                    <input type="text" 
                        name="username" 
                        placeholder="Add To do">
                </p>
                <p>
                    <b><label for="degree" class="sign-in-heading">User Type</label></b>
                </p>
                <p>
                    <input type="radio" 
                        name="usertype"
                        required  
                        id="degree-0"
                        value="admin">
                        <label for="degree-0">Super</label>
                </p>
                <p>
                    <input type="radio" 
                        name="usertype"
                        required  
                        id="degree-1"
                        value="admin">
                        <label for="degree-1">Admin</label>
                </p>
                <p>
                    <input type="radio" 
                        name="usertype"
                        required  
                        id="degree-2"
                        value="user">
                        <label for="degree-2">User</label>
                </p>
                <button type="submit">Submit</button>
            </form>
            <hr>
            {% for user in users %}
                <div class="user">
                    <p>
                        {{ user['username'] }}
                        {{ user['usertype'] }}
                    </p>
                    <form method="POST" 
                        action="{{ url_for('delete',id=user['_id']) }}">
                        <input type="submit" 
                        value="delete user"
                        onclick="return confirm('Are you sure you want to delete this user')">
                    </form>  
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>