<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Injozi Flask App</h1>
    <div class="main-container">
        <div class="content">
            <form method="POST" class="mainform">
                <div>{{ username }}</div>
                <label for="new_password">New Password:</label>
                <input type="password" name="new_password" id="new_password" required>
                <button type="submit">Reset Password</button>
            </form>
        </div>
    </div> 
</body>
</html>